<a href="https://colab.research.google.com/github/juanfelipegonzalezalfonso/programacion1/blob/main/piton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# While : meintras que

In [ ]:
a=0
b=1
while b < 100:
  print(b)
  a = b
  b = a+b

1
1
2
3
5
8
13
21
34
55
89

In [ ]:
a=0
b=1
while b < 100:
  print(b)
  a, b = b, a+b

1
1
2
3
5
8
13
21
34
55
89

#Range:

In [ ]:
a, b = 0,1
for b in range(20):
  print(b)
  a, b = b, a + b

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

#If
#Elif
#Else

In [ ]:
x = int(input("ingresa un numero: "))
if x % 2 == 0:
  print("el numro es par.")
else:
  print("el numero es impar.")

ingresa un numero: 1
el numero es impar.

In [ ]:
x = int(input("ingresa un numero: "))
if x % 3 == 0:
  print("el numro es multiplo de 3.")
elif x %3 ==1
  print("no es multiplo de 3 porque el residuo es 1")
else:
  print("el numero no es multiplo de 3.")

ingresa un numero: 12
el numro es multiplo de 6.

In [ ]:
import numpy as np
secuencia = np.linspace(0,1,50)

In [ ]:
for i in secuencia:
  print(i)

0.0
0.02040816326530612
0.04081632653061224
0.061224489795918366
0.08163265306122448
0.1020408163265306
0.12244897959183673
0.14285714285714285
0.16326530612244897
0.18367346938775508
0.2040816326530612
0.22448979591836732
0.24489795918367346
0.26530612244897955
0.2857142857142857
0.3061224489795918
0.32653061224489793
0.3469387755102041
0.36734693877551017
0.3877551020408163
0.4081632653061224
0.42857142857142855
0.44897959183673464
0.4693877551020408
0.4897959183673469
0.5102040816326531
0.5306122448979591
0.5510204081632653
0.5714285714285714
0.5918367346938775
0.6122448979591836
0.6326530612244897
0.6530612244897959
0.673469387755102
0.6938775510204082
0.7142857142857142
0.7346938775510203
0.7551020408163265
0.7755102040816326
0.7959183673469387
0.8163265306122448
0.836734693877551
0.8571428571428571
0.8775510204081632
0.8979591836734693
0.9183673469387754
0.9387755102040816
0.9591836734693877
0.9795918367346939
1.0

In [1]:
a = ['mary', 'tenia', 'un', 'corderito']
for i, palabra in enumerate(a):
  print(i, palabra)

0 mary
1 tenia
2 un
3 corderito

#nose